*{
margin: 0;
padding: 0;
}
html, body{
height: 100;
}

body{
background: url(onsen_tokyo.jpeg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1{
  color: #FFFFFF;
  font: 900 96px 'hi', cursive;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 24px;
}


